<table class="table-bordered">
  <tr>
    <th>ID</th>
    <th>Voornaam</th>
    <th>Achternaam</th>
    <th>E/mail</th>
    <th>Hobbies</th>
  </tr>
  <tr *ngFor="let person of persons">
    <td>{{person.id}}</td>
    <td>{{person.firstName}}</td>
    <td>{{person.lastName}}</td>
    <td>{{person.email}}</td>
    <td>
      <div *ngFor="let hobby of person.hobbies">{{hobby.name}}</div>
    </td>
  </tr>
</table>

<div>
  Voeg een persoon toe:<br/>
  Voornaam: <input type="text"
                   class="input-lg"
                   name="firstName"
                   title="Voornaam"
                   [(ngModel)]="newPerson.firstName"/><br/>

  Achternaam: <input type="text"
                     class="input-lg"
                     name="lastName"
                     title="Achternaam"
                     [(ngModel)]="newPerson.lastName"/><br/>

  E-mail: <input type="text"
                 class="input-lg"
                 name="email"
                 title="Voornaam"
                 [(ngModel)]="newPerson.email"/><br/>


  Hobbies: <br/>
  <div *ngFor="let hobby of newPerson.hobbies; let i = index; trackBy:trackHobbies;">
    <input type="text"
           name="hobby_{{i}}"
           title="Hobby #{{i}}"
           [(ngModel)]="newPerson.hobbies[i].name"
    />
    <br/>
  </div>

  <input type="button" class="ui-button" name="add_hobby" (click)="addHobby()" value="Toevoegen Hobby"/>

  <p>
    <input type="button" class="ui-button" name="add" (click)="add()" value="Toevoegen"/>
  </p>
</div>
<div>
  <div>Zoek: <input type="text" class="input-lg" [(ngModel)]="gekozenNaam" (keyup)="search($event)"/></div>
  <div [hidden]="!isVisible">Gekozen persoon: {{currentPerson.firstName}} {{currentPerson.lastName}}</div>
</div>
