<table class="table-bordered">
  <tr>
    <th>ID</th>
    <th>Voornaam</th>
    <th>Achternaam</th>
    <th>E/mail</th>
    <th>Hobbies</th>
  </tr>
  <tr *ngFor="let person of persons">
    <td>{{person.id}}</td>
    <td>{{person.lastName}}</td>
    <td>{{person.firstName}}</td>
    <td>{{person.email}}</td>
    <td>
      <div *ngFor="let hobby of person.hobbies">{{hobby}}</div>
    </td>
  </tr>
</table>

<div>
  <input type="text" class="input-lg" [(ngModel)]="gekozenNaam" (keyup)="search($event)"/>
  <div [hidden]="!isVisible">Gekozen persoon: {{currentPerson.firstName}} {{currentPerson.lastName}}</div>
</div>
